body {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
}

h2 {
    margin: 0;
    padding: 5px;
    color: #272828;
    font-weight: 700;
    background-color: #e0ae2f;
    width: 95%;
    text-align: center;
    border: 5px double white;
    letter-spacing: 1px;
    font-size: 3vmax;
    text-transform: uppercase
}

nav {
    margin: 10px 0 5px 0;
    padding: 4px 10px 4px 10px;
    background-color: #1c7230;
    width: 85%;
    text-align: left;
    letter-spacing: 1px;
}

.fa-plane-departure {
    color: white;
    font-size: 1.5vmax;
}

button {
    background-color: #1c7230;
    color: white;
    border: 1px solid transparent;
    border-radius: 8%;
    padding: 5px;;
    font-size: 1.5vmax;
    text-transform: uppercase
}

table {
    border-collapse: collapse;
    color: white;
    border-spacing: 1rem;
    width: 85%;
    font-size: 1.5vmax;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color:#3b3c3f;
}
  
tr:nth-child(odd) {
    background-color:#272828;
}
  
td, th {
    border: 5px solid #0a0a0a;
    padding: 0.5rem;
    text-align: left;
}

#add-des-details {
    margin: 10px ;
}

#add-destination {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header"
        "airport city"
        "arrival date"
        "button button";
    grid-gap: 1rem;
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: 1px solid white;
    background-color: #272828;
    justify-content: center;
    align-items: center;
    color: white;
}

#arrival {
    grid-area: airport;
}

#airport {
    grid-area: city; 
}

#arr-date {
    grid-area: arrival; 
}

#date {
    grid-area: date; 
}

.add {
    grid-area: button;
}

label {
    float: left;
    text-align: left;
    padding: 5px;
}

.add {
    background-color: #1c7230;
    color: white;
    border: 1px solid transparent;
    padding: 5px;;
    font-size: 1.5vmax;
    text-transform: uppercase
}

h5  {
    color: white;
}

#header {
    background-color: #e0ae2f;
    color: #272828
}

h3 {
    color: white;
    grid-area: header;
    margin: 0;
}

#edit {
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 0%;
}

#footer {
    background-color:  #0a0a0a;
    text-align: right;
}