body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
}

header {
  color: #272828;
  font-weight: 700;
  background-color: #e0ae2f;
  width: 95%;
  text-align: center;
  border: 5px double white;
  letter-spacing: 1px;
}

h1 {
  font-size: 4vmax;
  text-transform: uppercase
}

nav {
  margin: 10px;
  padding: 4px 10px 4px 10px;
  background-color: #1c7230;
  width: 88%;
  text-align: left;
  letter-spacing: 1px;
}

.fa-plane-departure {
  color: white;
  font-size: 1.5vmax;
}

.new-flight, button {
  background-color: #1c7230;
  color: white;
  border: 1px solid transparent;
  border-radius: 8%;
  padding: 5px;;
  font-size: 1.5vmax;
  text-transform: uppercase
}

table {
  border-collapse: collapse;
  color: white;
  border-spacing: 1rem;
  width: 95%;
  font-size: 1.5vmax;
  letter-spacing: 1px;
}

.decor {
  background-color: #e0ae2f;
}

.hd {
  background-color: #a5a29f;
  color: #272828;
  text-transform: uppercase
}

.fa-caret-square-up, .fa-caret-square-down {
  font-size: 1.5vmax;
  color: #272828;
}

tr:nth-child(even) {
  background-color:#3b3c3f;
}

tr:nth-child(odd) {
  background-color:#272828;
}

td, th {
  border: 5px solid #0a0a0a;
  padding: 0.5rem;
  text-align: left;
}

.passed-flights {
  color: #c42323;
}

#details {
  text-decoration: none;
  color: white;
  font-size: 1.5vmax;
  letter-spacing: 1px;
}